/* NavBar.css */

nav {
  background-color: rgb(71, 57, 37);
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration:underline;
  text-shadow: 1px 1px 4px rgb(255, 255, 255);
  padding: 10px;
  margin: 0 10px;
}

nav a:hover {
  background-color: rgb(150, 141, 124);
}

.cart-icon {
  font-size: 6.5em;
}

.cart-link {
  float: right;
}


/* Title */

h1{
  text-align: center;
  background-color: rgb(146, 118, 81);
  text-shadow: 3px 3px 4px white;
  
}

/* Body Background */

body{
  background-color: black;
  background-image: url(./img/Fondodios.jpg);
}